# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
.env
.venv

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# IDEs
.idea
*.swp

# datapane specific
/docker.env
/docker-compose.yml

